# Ignore virtual environment
.venv/

# Ignore environment variables (API keys)
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore dataset folder
dataset_extracted/


tempCodeRunnerFile.*
test_*.py
test_*.txt
*.log